/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #f15025;
$mdc-theme-secondary: #191919;

@import "~@angular-mdc/theme/material";

body{
    margin: 0;
    margin: 0;
}